{% extends "base.html.twig" %}
{% block title %} {{ parent() }} Liste des utilisateurs {% endblock %}
{% block content %}
    <div class="container-uid">
        <div class="row justify-content-center">
            <div class="col-12 col-md-10">
                <h2 class="text-center text-light">Liste des utilisateurs</h2>
                {% for user in users %}
                {{user.id}} {{user.lastname}} {{user.firstname}} {{user.birthdate}} 
                {{user.street}} {{user.city}} {{user.postalcode}} {{user.phone}} 
                {{user.email}}<br />
                {% endfor%}
            </div>
        </div>
    </div>
{% endblock %} 