{% extends "base.html.twig" %}

{% block title %} {{ parent() }} Liste des Administrateurs {% endblock %}
       
{% block content %} 
    <div class="container-fluid">
		<div class="row justify-content-center">
			<div class="col-12 col-md-10">
				 <h2 class="text-center text-light">Liste des Administrateurs</h2> 
				 {% for administrateur in administrateurs %}
					{{administrateur.id}}
					{{administrateur.nom}}
					{{administrateur.prenom}}
					<a href="index.php?page=updateAdministrateur&id={{administrateur.id}}"><i class="bi bi-pen-fill"></i></a>
					<a href="index.php?page=deleteAdministrateur&id={{administrateur.id}}"><i class="bi bi-trash2-fill"></i></a><br/>
				{% endfor %}
				<a href="index.php?page=addAdministrateur&id={{administrateur.id}}"><i class="bi bi-plus-lg"></i></a><br/>
			</div>
		</div>
	</div>
{% endblock %} 